<section class="about-page">
	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				<div class="title-box">
					<h1>What's Cafegraphy ?</h1>
					<h5 class="title-sub">~最高のカフェタイムを自慢しよう~</h5>
					<P>Cafegraphyはカフェの写真投稿サイトです。<br>
						カフェでのひとときを<br>
						カフェグラファー（カフェをこよなく愛する人々）に共有できます。<br>
						あなただけのCafegraphyを作ってみませんか？
					</P>
				</div>
			</div>
			<div class="col-sm-12">
				<div class="body-container">
					<h3>Cafegraphyでは、</h3>
					<ul>
						<div class="body-box">
							<li>投稿写真にいいね、<br>コメントができる！</li>
							<P><i class="far fa-heart"></i></P>
						</div>
						<div class="body-box">
							<li>気になるカフェグラファーをフォローできる！</li>
							<P><i class="fas fa-user"></i></P>
						</div>
						<div class="body-box">
							<li>たくさん投稿すると<br>ランキングに載るかも！</li>
							<P><i class="fas fa-seedling"></i></P>
						</div>
					</ul>
					<ul>
						<div class="body-box">
							<P><i class="fas fa-heart"></i></P>
							<li>投稿写真にいいね、<br>コメントができる！</li>
						</div>
						<div class="body-box">
							<P><i class="fas fa-user-friends"></i></P>
							<li>気になるカフェグラファーをフォローできる！</li>
						</div>
						<div class="body-box">
							<P><i class="fas fa-crown"></i></P>
							<li>たくさん投稿すると<br>ランキングに載るかも！</li>
						</div>
					</ul>
				</div>
			</div>
		</div>
	</div>
</section>
