<section>
	<div class="row">
		
			<div class="title-box">
				<h2>Cafegraphy</h2>
				<p>カフェでの最高の一枚を自慢しよう</p>
			</div>
			<div class="body-box">
				<h4>What's Cafegraphy ?</h4>
			</div>

	</div>
</section>
