<section class="about-page">
	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				<div class="title-box">
					<h1>What's Cafegraphy ?</h1>
					<h5 class="title-sub">~カフェでの最高の一枚を自慢しよう~</h5>
					<P>Cafegraphyはカフェの写真投稿サイトです。<br>
						カフェでのひとときを<br>
						カフェグラファー（カフェをこよなく愛する人々）に共有できます。<br>
						あなただけのCafegraphyを作ってみませんか？
					</P>
				</div>
			</div>
			<div class="col-sm-12">
				<div class="body-container">
					<h3>Cafegraphyでは。。</h3>
					<div class="body-box">
						<h4>投稿写真にいいね、コメントができる！</h4>
						<P>
						</P>
					</div>
					<div class="body-box">
						<h4>気になるカフェグラファーをフォローできる！</h4>
						<P>
						</P>
					</div>
					<div class="body-box">
						<h4>たくさん投稿するとランキングに載るかも！</h4>
						<P>
						</P>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
