<section class="home">
	<div class="row home-content">
		<div class="col-xs-10 ml-auto mr-auto text-center">
			<div class="home-title">
				<h1 class="text-center">最高のCafegraphyを自慢しよう！</h1>
			</div>
			<div class="home-link">
				<span>
					<%= link_to new_user_registration_path do %>
						<i class="fas fa-camera-retro"></i>新規登録
					<% end %>
				</span>
				<span>
					<%= link_to new_user_session_path do %>
						<i class="fas fa-sign-in-alt"></i>ログイン
					<% end %>
				</span>
			</div>
		</div>
	</div>
</section>