<div class="row">
	<div class="col-xs-10 col-xs-offset-1">
		<div class="home-img">
			<img src="assets/img1.JPG" width="800px" height="400px">
		</div>
		<hr>
		<div class="home-title">
			<h2 class="text-center">最高のCafegraphyを自慢しよう！</h2>
		</div>
	</div>
</div>