<section class="post-index">
	<div class="row">
		<div class="col-xs-9">
			<div class="post-box">
				<% @posts.each do |post| %>
					<%= post.title %>
					<%= post.user.name %>
				<% end %>

			</div>
		</div>
	</div>
</section>
