<% provide(:title, "お問い合わせ完了") %>
<section class="inquiry-index">
	<div class="container">
		<div class="row">
			<div class="col-xs-12 ml-auto mr-auto">
				<div class="page-header">
				  <h1>お問い合わせ</h1>
				</div>
				<p>
				  お問い合わせいただきありがとうございました<span><i class="far fa-paper-plane fa-fw"></i></span>
				</p>
			</div>
		</div>
	</div>
</section>
