/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 // Custom bootstrap variables must be set or imported *before* bootstrap.
@import "bootstrap";

.clearfix::after {
   content: "";
   display: block;
   clear: both;
}

body {
  display: flex; //フレックスボックスに有効に
  flex-flow: column; //要素を縦に並べる
  min-height: 100vh; //最小でも画面の高さ分のbodyの高さを担保する
	font-family: 'American Typewriter','Athelas','TsukuARdGothic-Regular','Chalkduster','Times New Roman','Noteworthy','Mv Boli',sans-serif;
}

main {
  flex: 1; //画面の高さから他の同レイヤーの要素の高さを引いた値に
}

ul {
  list-style: none;
}

header {
	height: 200px;
	width: 100%;
	background: -moz-linear-gradient(top, #8177A5, #99CBE8 40%, #EFEDED 60%, #FFF);
  background: -webkit-linear-gradient(top, #8177A5, #99CBE8 40%, #EFEDED 60%, #FFF);
  background: linear-gradient(to bottom, #8177A5, #99CBE8 40%, #EFEDED 60%, #FFF);

  	& .title {
  	 text-align: center;
  	 font-size: 40px;
  	 padding-top: 30px;
  	 font-family: 'Apple Chancery','Chalkduster','Times New Roman','Noteworthy','Mv Boli',sans-serif;
  	}

  	& .nav-right {
  	text-align: right;
  	}

    & li {
    margin: 5px;
    }

  	& .no-underline {
  	text-decoration: none !important;
  	}
}

footer {
	padding-top: 30px;
	width: 100%;
	background: -moz-linear-gradient(bottom, #8177A5, #99CBE8 40%, #EFEDED 50%, #FFF);
  	background: -webkit-linear-gradient(bottom, #8177A5, #99CBE8 40%, #EFEDED 50%, #FFF);
  	background: linear-gradient(to top, #8177A5, #99CBE8 40%, #EFEDED 50%, #FFF);

  	& .footer-menu {
  	 text-align: center;
  	}
  	& ul.footer-menu li {
	   display: inline;
	  }
  	& .logo {
    	text-aline: left;
    	padding-left: 20px;
    	font-size: 20px;
    	color: #AA8DC9;
    	font-family: 'Chalkduster','Times New Roman','Noteworthy','Mv Boli',sans-serif;
  	}
}

.center-block {
  margin: 0 auto;
}
.signup-btn {
  display: inline-block;
  text-decoration: none;
  font-weight: bold;
  text-shadow: -1px -1px rgba(255, 255, 255, 0.44), 1px 1px rgba(0, 0, 0, 0.38);
  background-color: #8177A5;
  margin-bottom: 24px;
}

.wrapper {
  width: 500px;
  margin: 5% auto 0 auto; 
}
.font {
  font-size: 16px;
  color: white;
  width: 100%;
}
.form {
  text-align: center!important; 
  -webkit-animation: bounce 1.5s infinite;
  -moz-animation: bounce 1.5s infinite;
  animation: bounce 1.5s infinite;
}
.shadow{
  box-shadow: 0px 0px 20px 5px #AAA;
  opacity: 0.5;
  border-radius: 100px;
  width: 45%; 
  margin: 40px auto 0 auto;
  padding: 0 10px;  
  -webkit-animation: shadow 1.5s infinite;
}
.field-in {
  display: block;
  margin: 10px auto;
  padding: 10px;
  border-radius: 5px;
  border: none;
  width: 50%;
  -webkit-transition: all 0.5s ease 0s;
  -moz-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}
.name {
  background-color: #7239C1;  
  border-bottom: 5px solid #502789;
}
.name:hover{
  background-color: #DF1B76;
  border-bottom: 5px solid #B2175F;
}
.name:focus, .email:focus, .password:focus, .password:forcus {
  outline: none;
  padding:15px;
}
.email {
  background-color: #AA8DC9;  
  border-bottom: 5px solid #CB64B2;
}
.email:hover{
  background-color: #5C25C5;
  border-bottom: 5px solid #18108E;
}
.password {   
  background-color: #0F9BE6;
  border-bottom: 5px solid #1185C3;
}
.password:hover{
  background-color: #2DD7BB;
  border-bottom: 5px solid #2BB09A;
}
.password-con {   
  background-color: #8EDDF9;
  border-bottom: 5px solid #1185C3;
}
.password-con:hover{
  background-color: #2DD7BB;
  border-bottom: 5px solid #2BB09A;
}
.submit{
  width: 180px;
  border-radius:5px;
  padding:10px;
  background-color: #EE78D1;  
  border: none;
  border-bottom: 5px solid #CB64B2;  
  -webkit-transition: all 0.5s ease 0s;
  -moz-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}
.submit:hover{
  -webkit-transform: translate(0, 4px);
  border-bottom: 2px solid #CB64B2;  
  box-shadow: inset 0px 0px 10px 10px #CF5DB2;
  cursor: pointer;
}
::-webkit-input-placeholder {
   color: white;
}

:-moz-placeholder { 
   color: white;
}

::-moz-placeholder { 
   color: white; 
}

:-ms-input-placeholder {  
   color: white;  
}

@-webkit-keyframes bounce{
  0%{
    
  }
  50%{
    -webkit-transform: translate(0, 8px);
  }
}
@-moz-keyframes bounce{
  0%{
    
  }
  50%{
    -moz-transform: translate(0, 8px);
  }
}
@keyframes bounce{
  0%{
    
  }
  50%{
    transform: translate(0, 8px);
  }
}
@-webkit-keyframes shadow{
  0%{
    
  }
  50%{
    opacity: 0.8;
    width: 50%;
  }
}
@-moz-keyframes shadow{
  0%{
    
  }
  50%{
    opacity: 0.8;
    width: 50%;
  }
}
@keyframes shadow{
  0%{
    
  }
  50%{
    opacity: 0.8;
    width: 50%;
  }
}
.actions {
  margin-bottom: 60px;
}