/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 // Custom bootstrap variables must be set or imported *before* bootstrap.
@import "bootstrap";

body {
	font-family: 'American Typewriter','Athelas','TsukuARdGothic-Regular','Chalkduster','Times New Roman','Noteworthy','Mv Boli',sans-serif;
}
ul {
  list-style: none;
}

header {
	height: 200px;
	width: 100%;
	background: -moz-linear-gradient(top, #8177A5, #99CBE8 40%, #EFEDED 60%, #FFF);
  background: -webkit-linear-gradient(top, #8177A5, #99CBE8 40%, #EFEDED 60%, #FFF);
  background: linear-gradient(to bottom, #8177A5, #99CBE8 40%, #EFEDED 60%, #FFF);

  	& .title {
  	 text-align: center;
  	 font-size: 40px;
  	 padding-top: 30px;
  	 font-family: 'Apple Chancery','Chalkduster','Times New Roman','Noteworthy','Mv Boli',sans-serif;
  	}

  	& .nav-right {
  	text-align: right;
  	}

    & li {
    margin: 5px;
    }

  	& .no-underline {
  	text-decoration: none !important;
  	}
}

footer {
	height: 220px;
	width: 100%;
	margin-top: 40px;
  padding-top: 70px;
	background: -moz-linear-gradient(bottom, #8177A5, #99CBE8 40%, #EFEDED 50%, #FFF);
  	background: -webkit-linear-gradient(bottom, #8177A5, #99CBE8 40%, #EFEDED 50%, #FFF);
  	background: linear-gradient(to top, #8177A5, #99CBE8 40%, #EFEDED 50%, #FFF);

  	& .footer-menu {
  	 text-align: center;
  	}
  	& ul.footer-menu li {
	   display: inline;
	  }
  	& .logo {
    	text-aline: left;
    	padding-left: 20px;
    	font-size: 20px;
    	color: #AA8DC9;
    	font-family: 'Chalkduster','Times New Roman','Noteworthy','Mv Boli',sans-serif;
  	}
}


.center-block {
  margin: 0 auto;
}
.signup-btn {
  width: 120px;
  border-radius: 16px;
  padding: 8px 16px;
  color: white!important;
  display: inline-block;
  text-decoration: none;
  font-weight: bold;
  text-shadow: -1px -1px rgba(255, 255, 255, 0.44), 1px 1px rgba(0, 0, 0, 0.38);
  background-color: #8177A5;
  margin-bottom: 24px;
}

