// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.no-underline {
    text-decoration: none !important;
}
.post-index-top {
    margin-bottom: 30px;

    & .post-rank {
    margin-bottom: 10px;
    }
    & .post-rank-box {
    font-size: 12px;
    float: left;
    margin:10px 20px;
    transition: .3s;
    -webkit-transform: scale(1);
    transform: scale(1);
    box-shadow: 0 0 5px rgba(0,0,0,.3);
    }
    & .post-rank-box:hover {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
    box-shadow: 0 0 20px rgba(0,0,0,.3);
    }
    & .post-rank-user {
    margin-bottom: 5px;
    }
    & .fa-crown {
    color: #E8D910;
    }
    & h5 {
    display: inline-block;
    transition: .3s;
    -webkit-transform: scale(1);
    transform: scale(1);
    color: #1D85D8;
    font-weight: bold;
    }
    & h5:hover {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
    color: #AA8DC9;
    font-weight: bold;
    }
}

.post-index {
	margin-right: auto;
	margin-left : auto;

    & .post-index-box{
    position: relative;
    margin: 40px;
    padding: 32px 24px 48px 24px;
    transition: .3s;
    -webkit-transform: scale(1);
    transform: scale(1);
    box-shadow: 0 0 10px rgba(0,0,0,.3);
    border: solid 3px #99CBE8;
    }
    & .post-index-box:hover {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    box-shadow: 0 0 20px rgba(0,0,0,.3);
    }
    & .post-index-img img {
    width: 500px;
    height: 500px;
    }
    & .post-tags {
    width: 300px;
    }

    & .view {
    margin-bottom: 10px;
    }

    & .no-underline {
    text-decoration: none;
    color: #451761;
    }

    & .no-underline:hover {
    color: #AA8DC9;
    }

    & .post-title {
    font-size: 18px;
    margin-top: 10px;
    }

    & .post-user img {
    width: 40px;
    height: 40px;
    }
}


.post-show {
	position: relative;
    margin: 2em 0;
    padding: 0.5em 1em;
    border: solid 3px #99CBE8;

    & .box-title {
    position: absolute;
    display: inline-block;
    top: -13px;
    right: 10px;
    padding: 0 9px;
    line-height: 1;
    font-size: 16px;
    background: #FFF;
    color: #95ccff;
    font-weight: bold;
    }
    & .post-tags {
    width: 350px;
    }
    & .heart-user {
    margin-left: 90px;
    }
}
.tag-label {
    background-color: #EFEDED;
    border-radius: 10px;
    padding: 5px 10px;
    float: left;
    margin-right: 5px;
}
.tag-label:hover {
    background-color: #8EDDF9;
}
.post-item {
    margin: 10px 5px 60px 5px;


    & .post-image {
    margin: 48px 28px 24px 10px;
    }
    & .post-icons {
    margin-left: 370px;
    }
    & .post-tags {
    margin-left:8px;
    }
    & .fa-edit {
    margin-left: 10px;
    }
    & .fa-trash-alt {
    margin-left: 10px;
    }
    & .post-date {
    font-size:12px;
    margin-right: 5px;
    }
}



.post-new {

    & .post-new-form {
    width: 100%;
    }
    & .new-btn {
    width: 40%;
    background: #AA8DC9;
    border-radius: 5px;
    font-size: 18px;
    padding: 2px 8px;
    color: #fff;
    border: none;
    border-bottom: 5px solid #CB64B2;
    -webkit-transition: all 0.5s ease 0s;
    -moz-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
    }

    & .new-btn:hover {
    background: #ED70B6;
    -webkit-transform: translate(0, 4px);
    border-bottom: 2px solid #CB64B2;
    box-shadow: inset 0px 0px 10px 10px #CF5DB2;
    cursor: pointer;
    }
    & .img_field {
      width: 400px;
      height: 400px;
      text-align: center;
      background-image: image-url("logo1.jpg");
      background-size: contain;
      display: inline-block;
    }
    form img.thumb {
        margin: 0 5px 5px 0;
        max-width: 400px;
        height: 400px;
        vertical-align: bottom;
    }
    & form {
    margin-bottom: 50px;
    }
    & .form-group {
    width: 450px;
    }
    & .post_form_box {
    margin-top: 30px;
    }

}
.post-edit {

    & .post-edit-form {
    width: 650px;
    }
    & .edit-btn {
    width: 100%;
    background: #AA8DC9;
    border-radius: 5px;
    font-size: 18px;
    padding: 2px 8px;
    color: #fff;
    border: none;
    border-bottom: 5px solid #CB64B2;  
    -webkit-transition: all 0.5s ease 0s;
    -moz-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
    }
    & .edit-btn:hover {
    background: #ED70B6;
    -webkit-transform: translate(0, 4px);
    border-bottom: 2px solid #CB64B2;  
    box-shadow: inset 0px 0px 10px 10px #CF5DB2;
    cursor: pointer;
    }
    & .img_field {
      width: 250px;
      height: 250px;
      text-align: center;
      background-image: image-url("logo1.jpg");
      background-size: contain;
    }
    form img.thumb {
        margin: 0 5px 5px 0;
        max-width: 250px;
        height: 250px;
        vertical-align: bottom;
    }
}

.search-index{
    
    & .search-keyword_shop_name {
    margin: 0 auto;
    width: 50%;
    padding: 10px 20px;
    transition: .3s;
    -webkit-transform: scale(1);
    transform: scale(1);
    box-shadow: 0 0 5px rgba(0,0,0,.3);
    }
    & .new-btn {
    width: 100%;
    background: #AA8DC9;
    border-radius: 5px;
    font-size: 18px;
    padding: 2px 8px;
    color: #fff;
    border: none;
    border-bottom: 5px solid #CB64B2;  
    -webkit-transition: all 0.5s ease 0s;
    -moz-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
    }
    & .new-btn:hover {
    background: #ED70B6;
    -webkit-transform: translate(0, 4px);
    border-bottom: 2px solid #CB64B2;  
    box-shadow: inset 0px 0px 10px 10px #CF5DB2;
    cursor: pointer;
    }
    & .boards__searchForm {
      display: inline-block;
    }

    & .boards__select {
      display: inline-block;
      width: auto;
    }

    & #tab-menu li {
      float: left;
      list-style-type: none;
      width: 25%;
    }

    & #tab-menu a {
      color: #fff;
      text-decoration: none;
      display: block;
      padding: 20px;
      text-align: center;
      background: #EFEDED;
      position: relative;

    }

    & #tab-menu .active {
      background: #99CBE8;
      color: #FFF;
      font-weight: bold;
    }

    & #tab-menu .active::after {
    width: 0;
    height: 0;
    position: absolute;
    top: 100%;
    left: 50%;
    margin: 0 0 0 -20px;
    border: 20px solid transparent;
    border-top-color: #99CBE8;
    content: '';
    }
    & #tab-menu a:hover {
      background: #8EDDF9;

    }

    & #tab-contents .tab {
      padding: 30px;


    }

    & #tab-contents p{
      color:#000;
      line-height: 2.5;
    }

}
.post-rank-box {
  & .post-rank-user img {
  width: 40px;
  height: 40px;
  }
  & .post-rank-img img {
  width: 160px;
  height: 160px;
  }

}



/* タブレット縦置きサイズ（768px）以下の際に適用される設定 */
@media screen and (max-width:768px) {  
    .post-rank {

      & h3 {
      font-size: 20px;
      }
      
      & .post-rank-user {
      font-size: 12px;
      }
      & .post-rank-user img {
      width: 14px;
      height: 14px;
      }
      & .post-rank-img img {
      width: 140px;
      height: 140px;
      }
      & .post-rank-box {
      margin: 5px 8px;
      }
    }
    .populary-user-btn {
      & h5 {
      font-size: 18px;
      }
    }
}
/* スマートフォンサイズ（425px）以下の際に適用される設定 */
@media screen and (max-width:425px) {  
  .post-new {
  width:375px;
  padding-left: 20px;
    & .post-new-form {
     
    }
    & .post_img_box {
      
    }
    & .img_field {

        width: 280px;
        height: 280px;
        text-align: center;
        background-image: image-url("logo1.jpg");
        background-size: contain;
        display: inline-block;
    }
    form img.thumb {
        margin: 0 5px 5px 0;
        max-width: 280px;
        height: 280px;
        vertical-align: bottom;
    }
    & .post_form_box {
      margin-top: 50px;
      margin-right: none;
    }
    & .new-tags {
    font-size: 10px;
    }
    & .form-group {
    width: 90%;
    }
    & .new-btn {
    width: 30%;
    font-size: 14px;
    }
    & .tag-label {
    background-color: #EFEDED;
    border-radius: 10px;
    padding: 2px 8px;
    float: left;
    margin-right: 1px;
    }
    & .actions {
    margin-bottom: 0;
    }
    & .back-btn {
    font-size: 10px;
    }
  }
  .post-indexx {
    width: 100%;
    font-size: 8px;
    & .post-user img {
      width: 20px;
      height: 20px;
    }
    & .post-index-img img {
      width: 180px;
      height: 180px;
      }

    & .post-rank {

      & h3 {
      font-size: 16px;
      }
      
      & .post-rank-user {
      font-size: 6px;
      }
      & .post-rank-user img {
      width: 14px;
      height: 14px;
      }
      & .post-rank-img img {
      width: 80px;
      height: 80px;
      }
      & .post-rank-box {
      margin: 5px 3px;
      }
    }
    & .populary-user-btn {
      & h5 {
      font-size: 12px;
      }
    }
  }
  .search-index {
    width: 100%;
    font-size: 8px;

    h5 {
      font-size:15px;
    }
    & .post-user img {
      width: 20px;
      height: 20px;
    }
    & .post-index-img img {
      width: 180px;
      height: 180px;
    }
    & .post-tags {
    width: 180px;
    font-size: 3px;
    }
    & .search-keyword_shop_name {
    width: 260px;
    }
  }

}







