// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.post-index {

	margin-right: auto;
	margin-left : auto;
}
.post-show {
	position: relative;
    margin: 2em 0;
    padding: 0.5em 1em;
    border: solid 3px #99CBE8;

    & .box-title {
    position: absolute;
    display: inline-block;
    top: -13px;
    right: 10px;
    padding: 0 9px;
    line-height: 1;
    font-size: 16px;
    background: #FFF;
    color: #95ccff;
    font-weight: bold;
    }
}