// Place all the styles related to the Post_comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.comment-index {
	margin-bottom: 16px;
}
.fa-comment {
	margin-left: 8px;
	color: #AA8DC9;
}