// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.fa-cog {
  display: inline-block;
  transition: .3s;
  -webkit-transform: scale(1);
  transform: scale(1);
}
.fa-cog:hover {
  color: #8EDDF9;
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.mypage-profile-name {
  margin: 1em 0;
  padding: 1em;

  & .follow-button {
  margin-top: 10px;
  margin-bottom: 20px;
  }

  & .follow-stats {
  margin-top: 20px;
  margin-bottom: 10px!important;
  }
  & span {
    display: inline-block;
    transition: .3s;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  & span:hover {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    color: #8177A5;
  }
  & .btn-follow-out {
  display: inline-block;
  padding: 0.5em 1em;
  text-decoration: none;
  font-weight: bold;
  border-radius: 4px;
  color: rgba(0, 69, 212, 0.47);
  text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.5);
  background-image: linear-gradient(#6795fd 0%, #67ceff 100%);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.29);
  border-bottom: solid 3px #5e7fca;
  }

  & .btn-follow-out:active {
  -webkit-transform: translateY(4px);
  transform: translateY(4px);
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);
  border-bottom: none;
  }

  & .btn-follow {
  display: inline-block;
  padding: 0.5em 1em;
  text-decoration: none;
  font-weight: bold;
  border-radius: 4px;
  color: #EBE8E8;
  text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.5);
  background-image: linear-gradient(#E87EC1 0%, #9198e5 100%);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.29);
  border-bottom: solid 3px #5e7fca;
  }
}

.mypage-index {
	display: flex;
	flex-wrap: wrap-reverse;

	& .box-image {
	margin: 24px;
	}
}
.follow-index {
  & .follow-index-title {
  margin-bottom: 50px;
  }
}
.follow-box {
  width: 550px;

  & .btn-follow-out {
  display: inline-block;
  padding: 0.3em 1em;
  text-decoration: none;
  color: #67c5ff;
  border: solid 2px #67c5ff;
  border-radius: 3px;
  transition: .4s;
  }
  & .btn-follow-out:hover {
  background: #67c5ff;
  color: white;
  }
  & .btn-follow {
  display: inline-block;
  padding: 0.3em 1em;
  text-decoration: none;
  color: #EA8BC5;
  border: solid 2px #67c5ff;
  border-radius: 3px;
  transition: .4s;
  }
  & .btn-follow:hover {
  background: #EA8BC5;
  color: white;
  }
  & .follow-name {
  padding-left: 12px;
  padding-right: 30px;
  }
  

}
.follower-index {
  & .follower-index-title {
  margin-bottom: 50px;
  }
}
.follower-box {
  width: 550px;

  & .btn-follow-out {
  display: inline-block;
  padding: 0.3em 1em;
  text-decoration: none;
  color: #67c5ff;
  border: solid 2px #67c5ff;
  border-radius: 3px;
  transition: .4s;
  }
  & .btn-follow-out:hover {
  background: #67c5ff;
  color: white;
  }
  & .btn-follow {
  display: inline-block;
  padding: 0.3em 1em;
  text-decoration: none;
  color: #EA8BC5;
  border: solid 2px #67c5ff;
  border-radius: 3px;
  transition: .4s;
  }
  & .btn-follow:hover {
  background: #EA8BC5;
  color: white;
  }
  & .follower-name {
  padding-left: 12px;
  padding-right: 30px;
  }
  & .follow-post-count {
  padding-left: 40px;
  padding-right: 40px;
  }
}

.back-btn {
  background:#8EDDF9;
  color:#fff;
  border:none;
  position:relative;
  height:70px;
  font-size:18px;
  padding:0 2em;
  cursor:pointer;
  transition:800ms ease all;
  outline:none;
}
.back-btn:hover {
  background:#fff;
  color:#8EDDF9;
}
.back-btn:before,.back-btn:after{
  content:'';
  position:absolute;
  top:0;
  right:0;
  height:2px;
  width:0;
  background: #8EDDF9;
  transition:400ms ease all;
}
.back-btn:after{
  right:inherit;
  top:inherit;
  left:0;
  bottom:0;
}
.back-btn:hover:before,.back-btn:hover:after{
  width:100%;
  transition:800ms ease all;
}

.user-edit-box {
  margin-top: 30px;

  & .edit-name {
  margin: 20px 0;
  }
  & .edit-introduction {
  margin-bottom: 30px;
  }
  & .edit-btn {
  width: 100%;
  background: #AA8DC9;
  border-radius: 5px;
  font-size: 18px;
  padding: 2px 8px;
  color: #fff;
  border: none;
  border-bottom: 5px solid #CB64B2;  
  -webkit-transition: all 0.5s ease 0s;
  -moz-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
  }
  & .edit-btn:hover {
  background: #ED70B6;
  -webkit-transform: translate(0, 4px);
  border-bottom: 2px solid #CB64B2;  
  box-shadow: inset 0px 0px 10px 10px #CF5DB2;
  cursor: pointer;
  }
  
}

.user-rank {
  width: 700px;

  & .user-rank-title {
  margin-bottom: 50px;
  }
  & .btn-follow-out {
  display: inline-block;
  padding: 0.3em 1em;
  text-decoration: none;
  color: #67c5ff;
  border: solid 2px #67c5ff;
  border-radius: 3px;
  transition: .4s;
  }
  & .btn-follow-out:hover {
  background: #67c5ff;
  color: white;
  }
  & .btn-follow {
  display: inline-block;
  padding: 0.3em 1em;
  text-decoration: none;
  color: #EA8BC5;
  border: solid 2px #67c5ff;
  border-radius: 3px;
  transition: .4s;
  }
  & .btn-follow:hover {
  background: #EA8BC5;
  color: white;
  }
  & .cafegrapher-name {
  padding-left: 12px;
  padding-right: 100px;
  
  }
  & .follow-post-count {
  padding-left: 40px;
  padding-right: 40px;
  }
}

















