<section>
	<div class="row">
		<div class="col-xs-12">
			<div class="post-input__body">
				<div class="post-input__body__category" id="category_box">
					<div class="pulldown" id="partent_box">
						<%= form_with model: @parents, url: categories_path, local: true ,method: :post do |f| %>
						<%= f.select :category_id, {include_blank:"選択して下さい"} %>
						<% end %>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
