<div class="footer-list">
  <%= link_to root_path, class: "no-underline footer_logo" do %>
    <span class="logo">Cafegraphy</span>
  <% end %>
      <ul class="footer-menu">
        <li>
          <%= link_to root_path, class: "no-underline" do %>
            home
          <% end %> ｜
        </li>
        <li>
          <%= link_to about_path, class: "no-underline" do %>
            about
          <% end %> ｜
        </li>
        <li>
          <%= link_to inquiry_path, class: "no-underline" do %>
            お問い合わせ
          <% end %>
        </li>
      </ul>
</div>