<nav class="nav navbar-nav title">
  <% if user_signed_in? %>
    <%= link_to "Cafegraphy", posts_path, class: "no-underline header-title", :style=>"color:#EFEDED;" %>
  <% else %>
    <%= link_to "Cafegraphy", root_path, class: "no-underline header-title", :style=>"color:#EFEDED;" %>
  <% end %>
</nav>
