<div class="link-share">
	<span class="link-share-title">シェア？</span>
	<%= link_to "https://twitter.com/share?url=#{request.url}/&hashtags=Cafegraphy" do %>
	<span><i class="fab fa-twitter fa-2x faa-wrench animated"></i></span>
	<% end %>
</div>